
.bg{
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(img/pokeball.png);

}

.cry{
    display: none;
    
}

.btnSem {
    border: none;
    background: none;
    padding: 5px;
    margin: 5px;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
    
  }

.x{
    border-radius: 100px;
}

.modalCss{
    background: linear-gradient(to bottom, rgba(251,27,27,1) 0%, rgba(0,0,0,1) 49%, rgba(255,255,255,1) 100%);
    background-repeat: no-repeat;
}
.logo{
 
    
        color: #FFCC00;
        -webkit-text-stroke-width: 5px;
        -webkit-text-stroke-color: #0075BE;
    
}

.logo2{
    color: #FFCC00;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0075BE;
}

hr{
    color: #FFCC00;
}